* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_nav {
    width: 100%;
}

.navbar {
    background: linear-gradient(to right, white, whitesmoke, red, orange, yellow, green, #06E7DC, indigo, violet);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 5%;
    list-style: none;
}

.navbar ul li a {
    font-family: 'Monda', sans-serif;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.logo_nav {
    margin-right: 30%;
    width: 7%;
}

.pa-tr {
    font-family: 'Monda', sans-serif;
    font-size: 1em;
    margin-right: 10%;
}

.btn-log {
    width: 7%;
    font-family: 'Monda', sans-serif;
    color: white;
    margin-left: 10%;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.3);
}

.ctn-portada {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

.img-portada {
    height: 95vh;
    width: 100%;
    object-fit: cover;
}

.heading-portada {
    margin-top: 13%;
    margin-left: 10%;
    position: absolute;
}

.heading-portada h1 {
    font-family: 'Monda', sans-serif;
    font-size: 7em;
}

.heading-portada h2 {
    font-family: 'Monda', sans-serif;
    font-size: 3em;
}

.container-historia {
    margin-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    font-family: 'Monda', sans-serif;
    text-align: center;
    padding: 35px 10px;
    background: linear-gradient(to right, white, whitesmoke, red, orange, yellow, green, #06E7DC, indigo, violet);
    color: rgb(12, 8, 8);
}

.card-body {
    font-family: 'Monda', sans-serif;
    text-align: justify;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #f0f0f0, #070707);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.container-musica {
    width: 90%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* flex-flow: wrap; */
}